#include <windows.h>
#include "resource.h"

IDI_MYICON ICON "img\\icon.ico"

IDB_PNG0 PNG "img\\0.png"
IDB_PNG1 PNG "img\\1.png"
IDB_PNG2 PNG "img\\2.png"
IDB_PNG3 PNG "img\\3.png"
IDB_PNG4 PNG "img\\4.png"
IDB_PNG5 PNG "img\\5.png"
IDB_PNG6 PNG "img\\6.png"
IDB_PNG7 PNG "img\\7.png"
IDB_PNG8 PNG "img\\8.png"
IDB_PNG9 PNG "img\\9.png"
IDB_PNG10 PNG "img\\10.png"
IDB_PNG11 PNG "img\\11.png"
IDB_PNG12 PNG "img\\12.png"
IDB_PNG13 PNG "img\\13.png"
IDB_PNG14 PNG "img\\14.png"
IDB_PNG15 PNG "img\\15.png"
IDB_PNG16 PNG "img\\16.png"
IDB_PNG17 PNG "img\\17.png"
IDB_PNG18 PNG "img\\18.png"
IDB_PNG19 PNG "img\\19.png"
IDB_PNG20 PNG "img\\20.png"
IDB_PNG21 PNG "img\\21.png"
IDB_PNG22 PNG "img\\22.png"
IDB_PNG23 PNG "img\\23.png"
IDB_PNG24 PNG "img\\24.png"
IDB_PNG25 PNG "img\\25.png"
IDB_PNG26 PNG "img\\26.png"
IDB_PNG27 PNG "img\\27.png"
IDB_PNG28 PNG "img\\28.png"
IDB_PNG29 PNG "img\\29.png"
IDB_PNG30 PNG "img\\30.png"
IDB_PNG31 PNG "img\\31.png"